.App {
  text-align: center;
}

.App__form{
  padding:20px;
  position: fixed;
  bottom: 0;
  z-index:1;
  background-color: #e9e9eb;
  width:100%;
  margin:10px;
}

.App__formControl{
  display:flex !important;
  flex-direction: row !important;
}

.App__inputfield{
  flex:1;
}

.App__iconbutton{
  flex:0;
}

.App__image{
  height:150px;
  width:350px;
}